@use "../../scss/main.scss" as *;
@use "../../scss/breakpoints/breakpoints.scss" as *;
@use "../../scss/font/font.scss" as *;

.blogsPageAlignment {
  border-radius: 24px 0 0 0;
  border-top: 1px solid #66666693;
  border-left: 1px solid #66666693;
  background: #0f0f0f;
  padding: 32px;

  @include respond-to("xl") {
    padding: 22px;
  }

  .blogsTableAlignment {
    .tableUi {
      border: 1px solid var(--Linear, #6666668c);
      border-radius: 24px;
      height: calc(100dvh - 257px);
      margin: 0 0 24px 0;
      overflow: auto;

      @include respond-to("xl") {
        height: calc(100dvh - 204px);
      }

      table {
        width: 100%;
        border-collapse: collapse;

        tbody {
          tr:last-child {
            border: none;
          }

          tr {
            border-bottom: 1px solid var(--Linear, #6666668c);

            td {
              padding: 14px;
              font-size: 18px;
              font-style: normal;
              text-align: left;
              font-weight: 500;
              line-height: normal;
              @include font-medium;
              color: #b6b6b6;

              .green {
                color: #71ff7a;
              }

              .actionIcons {
                display: flex;
                align-items: center;
                gap: 16px;
                cursor: pointer;

                svg {
                  transition: all 0.3s ease;

                  &:hover {
                    color: #fff;
                    stroke: #fff;
                  }
                }

                .loader {
                  animation: spin 1s linear infinite;
                }
              }
            }
          }
        }

        thead {
          background-color: #000;
          position: sticky;
          top: 0;
          z-index: 9;

          tr {
            border-radius: 24px;

            th:first-child {
              border-top-left-radius: 24px;
              border-bottom-left-radius: 24px;
            }

            th:last-child {
              border-top-right-radius: 24px;
              border-bottom-right-radius: 24px;
            }

            th {
              padding: 20px 14px;
              font-size: 18px;
              font-style: normal;
              white-space: nowrap;
              text-align: left;
              font-weight: 500;
              line-height: normal;
              @include font-medium;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}