@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.revenuePageAlignment {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    background: #0F0F0F;
    padding: 32px;

    @include respond-to("xl") {
        padding: 22px;
    }

    .tabCenter {
        display: flex;
        justify-content: center;

        .tabGroup {
            border-radius: 86.905px;
            border: 0.869px solid var(--GOLD, #F9F490);
            padding: 10px;
            background-color: #0C0C0C;
            display: flex;
            align-items: center;
            gap: 26px;

            @include respond-to("xl") {
                gap: 20px;
            }

            button {
                border: none;
                font-size: 20.857px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 12px 30px;
                @include font-medium;
                background-color: transparent;
                cursor: pointer;
                border-radius: 99px;

                @include respond-to("xl") {
                    padding: 10px 26px;
                }

                &.active {
                    background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));

                    span {
                        background: none;
                        color: #000;
                        background-clip: inherit;
                        -webkit-text-fill-color: #000;
                        -webkit-background-clip: inherit;

                    }
                }

                span {
                    background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}